div(ng-controller="usersTabCtrl")
    h1
        | Users 
        a.btn.btn-default(href="#", role="button", style="background-image: none; box-shadow: none", data-toggle="modal", data-target="#addUserModal")
            span.glyphicon.glyphicon-plus
    .modal.fade#addUserModal(tab-index="-1", role="dialog", aria-labellebdy="addUserLabel", aria-hidden="true")
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal")
                        span(aria-hidden="true") &times;
                        span.sr-only Close
                    h4.modal-title#addUserLabel Add User
                .modal-body
                    form(action, method)
                        input.form-control(type="text", placeholder="E-Mail", ng-model="mailAdd")
                        input.form-control(type="text", placeholder="Username", ng-model="usernameAdd")
                        input.form-control(type="password", placeholder="Password", ng-model="passwordAdd")
                        input.form-control(type="date", placeholder="Birthdate", ng-model="birthDateAdd")
                        input.form-control(type="text", placeholder="City", ng-model="cityAdd")
                .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Cancel
                    button.btn.btn-primary(type="button", ng-click="addNewUser()") Add User
    hr
    div
        div.jumbotron.col-md-11.userInfo(style="position:absolute; right: 0px; width: 0%; padding: 24px 30px; overflow: hidden;display: none")
            button.close(type="button", onclick="$('.userInfo').animate({ width: '0%', right: '0%' }, 'fast', function () { $(this).hide(); });")
                span(aria-hidden="true") &times;
                span.sr-only Close
            form(action, method)
                input.form-control(type="hidden", ng-model="updateUser._id")
                input.form-control(type="text", placeholder="E-Mail", ng-model="updateUser.mail")
                input.form-control(type="text", placeholder="Username", ng-model="updateUser.username")
                input.form-control(type="password", placeholder="Password", ng-model="updateUser.password")
                input.form-control(type="date", placeholder="Birthdate", ng-model="updateUser.birthDate", value="{{updateUser.date | date: 'MM/dd/yyyy'")
                input.form-control(type="text", placeholder="City", ng-model="updateUser.city")
            .row(style="text-align: center; margin: 10px 0px; ")
                button.btn.btn-primary(type="button", style="margin-right: 10px", ng-click="updateUserInfo()") Update User
                button.btn.btn-default(type="button", onclick="$('.userInfo').animate({ width: '0%', right: '0%' }, 'fast', function () { $(this).hide(); });") Cancel
        table.table.table-responsive.table-hover(ng-hide="usersList == {}")
            tbody
                thead
                    tr
                        th Username
                        th E-Mail
                        th Borned
                        th Modified
                        th Created
                        th Actions
                tr(ng-repeat="user in usersList | orderBy:'date_updated':true")
                    td {{user.username}}
                    td {{user.mail}}
                    td {{user.birthDate | date: "MM/dd/yyyy"}}
                    td {{user.date_updated | date: "MM/dd/yyyy ' at ' HH:mm:ss"}}
                    td {{user.date_created | date: "MM/dd/yyyy ' at ' HH:mm:ss"}}
                    td.row
                        a.btn(href="#", data-toggle="tooltip", data-placement="top", title="Modify user", onclick=" $('.userInfo').show(); $('.userInfo').animate({width: '30%', right: '35%'}, 'fast');", ng-click="showUserInfo(user._id)")
                            span.glyphicon.glyphicon-pencil(style="position: static")
                        a.btn(data-toggle="tooltip", data-placement="top", title="Delete user", ng-click="deleteUser(user)")
                            span.glyphicon.glyphicon-remove(style="position: static")
        .jumbotron(ng-show="usersList == {}", style="text-align: center")
            h2 No users found

    script.